# Local environment configuration for Orca
# Copy this file to '.env' in the project root directory:
#   cp .env.example .env

# Set the local Dagster home directory to persist run logs/history
# and prevent the creation of ephemeral .tmp_dagster_home_* folders.
# DAGSTER_HOME must be an absolute path
DAGSTER_HOME=/home/repo/orca/.tmp_dagster/

# Absolute path to the DuckDB database file
DBT_DUCKDB_PATH=/home/repo/orca/data/db.duckdb